body {
    background-color: #F5EEDC;
    
    

}


h1 {
    color: #1572A1;
    background-color: rgb(192, 186, 186);
    font-family: 'Raleway', sans-serif;
    text-align: center
}


h2 {
    color: rgb(184, 152, 101);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
   


}


p {
    color: royalblue
    


}


a {
    cursor


}